
<div id="templateGenerator">
  <div class="row">
    <div id="templateGeneratorHeader" class="col-xs-12 rown"><a ng-href="#/mailGenerator">
        <button type="button" class="btn btn-success col-xs-1"> Back</button></a>
      <h3 class="col-xs-6 col-xs-offset-3">Mail template generator</h3>
      <button type="button" class="btn btn-success col-xs-1 col-xs-offset-1">Save</button>
    </div>
  </div>
  <div class="row">
    <div id="templateGeneratorToolbar" class="col-xs-1">
      <ul id="mobileList">
        <li>
          <button type="button" style="background-image: url(app/img/icons/h1.png)"></button>
        </li>
        <li>
          <button type="button" style="background-image: url(app/img/icons/h2.png)"></button>
        </li>
        <li>
          <button type="button" style="background-image: url(app/img/icons/h3.png)"></button>
        </li>
        <li>
          <button type="button" style="background-image: url(app/img/icons/text.png)"></button>
        </li>
        <li>
          <button type="button" style="background-image: url(app/img/icons/link.png)"></button>
        </li>
        <li>
          <button type="button" style="background-image: url(app/img/icons/img.png)"></button>
        </li>
      </ul>
    </div>
    <div id="templateGeneratorBody" class="col-xs-11"></div>
  </div>
</div>