
<div id="templateGenerator">
  <div class="row">
    <div id="templateGeneratorHeader" class="col-xs-12 rown"><a ng-href="#/mailGenerator">
        <button type="button" class="btn btn-success col-xs-1"> Back</button></a>
      <h3 class="col-xs-6 col-xs-offset-3">Mail template generator</h3>
      <button type="button" data-toggle="modal" data-target="#saveTemplate" class="btn btn-success col-xs-1 col-xs-offset-1">Save</button>
    </div>
  </div>
  <div class="row">
    <div id="templateGeneratorToolbar" class="col-xs-1">
      <ul id="mobileList">
        <li>
          <button type="button" style="background-image: url(app/img/icons/h1.png)" ng-click="createTextElement(&quot;h1&quot;)"></button>
        </li>
        <li>
          <button type="button" style="background-image: url(app/img/icons/h2.png)" ng-click="createTextElement(&quot;h2&quot;)"></button>
        </li>
        <li>
          <button type="button" style="background-image: url(app/img/icons/h3.png)" ng-click="createTextElement(&quot;h3&quot;)"></button>
        </li>
        <li>
          <button type="button" style="background-image: url(app/img/icons/text.png)" ng-click="createTextElement(&quot;p&quot;)"></button>
        </li>
        <li>
          <button type="button" style="background-image: url(app/img/icons/link.png)" onclick="$('#askForLink').modal('show')"></button>
        </li>
        <li>
          <button type="button" style="background-image: url(app/img/icons/img.png)" onclick="$('#askForImg').modal('show')"></button>
        </li>
      </ul>
    </div>
    <div id="templateGeneratorBody" gridster="gridsterOpts" class="col-xs-11">
      <input id="img" type="file" style="display: none;"/>
      <ul>
        <li gridster-item="element" ng-repeat="element in elementList" ng-switch="ng-switch" on="element.type" class="widgetContainer"><span ng-click="deleteItem($index)" class="fa fa-trash trashIcon"></span><span ng-mousedown="gridsterOpts.draggable.enabled = true" ng-mouseup="gridsterOpts.draggable.enabled = false" class="fa fa-arrows fa-2x arrowIcon"></span>
          <div ng-dblclick="selectMe($event)">
            <h1 ng-if="element.type === &quot;h1&quot; " ng-init="implementTinymce(tinyMceTextOpts)" ng-blur="destroyTinyMce()" class="widgetContent">Big title</h1>
            <h2 ng-if="element.type === &quot;h2&quot;" ng-init="implementTinymce(tinyMceTextOpts)" ng-blur="destroyTinyMce()" class="widgetContent">Middle title</h2>
            <h3 ng-if="element.type === &quot;h3&quot;" ng-init="implementTinymce(tinyMceTextOpts)" ng-blur="destroyTinyMce()" class="widgetContent">Small title</h3>
            <p ng-if="element.type === &quot;p&quot;" ng-init="implementTinymce(tinyMceTextOpts)" ng-blur="destroyTinyMce()" class="widgetContent">Paragraph</p>
          </div><img ng-if="element.type === &quot;img&quot;" style="background-image: url({{element.src}});" class="widgetContent imageOnWidget"/><a ng-if="element.type === &quot;a&quot;" ng-href="{{element.href}}" class="widgetContent">{{element.text}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Modal window for save a template-->
<div id="saveTemplate" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="close" class="close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Save Template</h4>
      </div>
      <div class="modal-body"></div>
      <form name="saveTemplateForm" class="form-horizontal">
        <div ng-class=" { 'has-error' : saveTemplateForm.name_template.$invalid &amp;&amp; saveTemplateForm.name_template.$dirty, 'has-success' : saveTemplateForm.name_template.$valid} " class="form-group has-feedback">
          <label for="nameTemplate" class="col-sm-2 control-label">Template name:</label>
          <div class="col-sm-8">
            <input id="nameTemplate" type="text" ng-model="name_template" name="name_template" placeholder="Name of the Template" ng-pattern="/^[a-zA-ZáéíóúÁÉÍÓÚñÑ1-9][a-zA-ZáéíóúÁÉÍÓÚñÑ1-9 ]{3,50}$/" required="required" class="form-control"/><span ng-class="{'glyphicon-ok' : saveTemplateForm.name_template.$valid, 'glyphicon-remove' : saveTemplateForm.name_template.$invalid &amp;&amp; saveTemplateForm.name_template.$dirty}" class="glyphicon form-control-feedback"></span>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-warning">Close</button>
        <button type="button" ng-click="saveTemplate()" ng-disabled="validateTemForm()" class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal window for asking for a link-->
<div id="askForLink" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="close" class="close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Link settings</h4>
      </div>
      <div class="modal-body"></div>
      <form name="linkSettingsForm" class="form-horizontal">
        <div ng-class=" { 'has-error' : linkSettingsForm.link.$invalid &amp;&amp; linkSettingsForm.link.$dirty, 'has-success' : linkSettingsForm.link.$valid} " class="form-group has-feedback">
          <label for="link" class="col-sm-2 control-label">Target:</label>
          <div class="col-sm-8">
            <input id="link" type="text" ng-model="link" name="link" ng-pattern="/(^http://|www).+/" required="required" class="form-control"/><span ng-class="{'glyphicon-ok' : linkSettingsForm.link.$valid, 'glyphicon-remove' : linkSettingsForm.link.$invalid &amp;&amp; linkSettingsForm.link.$dirty}" class="glyphicon form-control-feedback"></span>
          </div>
        </div>
        <div ng-class=" { 'has-error' : linkSettingsForm.linkText.$invalid &amp;&amp; linkSettingsForm.linkText.$dirty, 'has-success': linkSettingsForm.linkText.$valid} " class="form-group has-feedback">
          <label for="linkText" class="col-sm-2 control-label">Text:</label>
          <div class="col-sm-8">
            <input id="linkText" type="text" ng-model="linkText" placeholder="text for the link" name="linkText" required="required" class="form-control"/><span ng-class="{'glyphicon-ok' : linkSettingsForm.linkText.$valid, 'glyphicon-remove' : linkSettingsForm.linkText.$invalid &amp;&amp; linkSettingsForm.linkText.$dirty}" class="glyphicon form-control-feedback"></span>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-warning">Close</button>
        <button type="button" ng-click="createLink(link, linkText)" ng-disabled="validateForm()" class="btn btn-success">Send</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal window for asking for a image-->
<div id="askForImg" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="close" class="close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Image settings</h4>
      </div>
      <div class="modal-body">
        <div ng-file-reader="ng-file-reader" on-readed="onReaded(event, file)" read-method="readMethod" multiple="multiple"></div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-warning">Close</button>
        <button type="button" data-dismiss="modal" class="btn btn-warning">Close</button>
      </div>
    </div>
  </div>
</div>