
<div id="templateGenerator">
  <div class="row">
    <div id="templateGeneratorHeader" class="col-xs-12 rown"><a ng-href="#/mailGenerator">
        <button type="button" class="btn btn-success col-xs-1"> Back</button></a>
      <h3 class="col-xs-6 col-xs-offset-3">Mail template generator</h3>
      <button type="button" data-toggle="modal" data-target="#saveTemplate" class="btn btn-success col-xs-1 col-xs-offset-1">Save</button>
    </div>
  </div>
  <div class="row">
    <div id="templateGeneratorToolbar" class="col-xs-1">
      <ul id="mobileList">
        <li>
          <button type="button" style="background-image: url(app/img/icons/h1.png)"></button>
        </li>
        <li>
          <button type="button" style="background-image: url(app/img/icons/h2.png)"></button>
        </li>
        <li>
          <button type="button" style="background-image: url(app/img/icons/h3.png)"></button>
        </li>
        <li>
          <button type="button" style="background-image: url(app/img/icons/text.png)"></button>
        </li>
        <li>
          <button type="button" style="background-image: url(app/img/icons/link.png)"></button>
        </li>
        <li>
          <button type="button" style="background-image: url(app/img/icons/img.png)"></button>
        </li>
      </ul>
    </div>
    <div id="templateGeneratorBody" class="col-xs-11"><br/><br/>
      <div class="textExample">Text example. Click me to edit.</div>
      <div id="image1" class="imageExample">Upload your image 1</div>
      <div class="textExample">Ejemplo de text</div>
      <div id="image2" class="imageExample">Upload your image 2</div>
      <div id="image3" class="imageExample">Upload your image 3</div>
      <div id="comprobar">Comprueba valores</div>
      <input id="img" type="file" style="display: none;"/>
    </div>
  </div>
</div>
<!-- Modal window for save a template-->
<div id="saveTemplate" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="close" class="close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Save Template</h4>
      </div>
      <div class="modal-body"></div>
      <form name="saveTemplateForm" class="form-horizontal">
        <div ng-class=" { 'has-error' : saveTemplateForm.name_template.$invalid &amp;&amp; saveTemplateForm.name_template.$dirty, 'has-success' : saveTemplateForm.name_template.$valid} " class="form-group has-feedback">
          <label for="nameTemplate" class="col-sm-2 control-label">Template name:</label>
          <div class="col-sm-8">
            <input id="nameTemplate" type="text" ng-model="name_template" name="name_template" placeholder="Name of the Template" ng-pattern="/^[a-zA-ZáéíóúÁÉÍÓÚñÑ1-9][a-zA-ZáéíóúÁÉÍÓÚñÑ1-9 ]{3,50}$/" required="required" class="form-control"/><span ng-class="{'glyphicon-ok' : saveTemplateForm.name_template.$valid, 'glyphicon-remove' : saveTemplateForm.name_template.$invalid &amp;&amp; saveTemplateForm.name_template.$dirty}" class="glyphicon form-control-feedback"></span>
          </div>
        </div>
        <div ng-class=" { 'has-error' : saveTemplateForm.name_template.$invalid &amp;&amp; saveTemplateForm.name_template.$dirty, 'has-success' : saveTemplateForm.name_template.$valid} " class="form-group has-feedback">
          <label for="iconTemplate" class="col-sm-2 control-label">Template icon:</label>
          <div class="col-sm-8">
            <select id="iconTemplate" ng-model="icon_template" name="icon_template" required="required" class="form-control">
              <option ng-repeat="icon in icon_list" data-image="{{icon.url}}">{{icon.name}}</option>
            </select>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-warning">Close</button>
        <button type="button" ng-click="saveTemplate()" ng-disabled="validateTemForm()" class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</div>