#emailGenerator {
    #emailGeneratorHeader {
        background-color: #000066;
        color: white;
       border: 1px solid grey; 
       min-height:  10vh;
       #lenguageSelector {
           margin-top: 5vh;
       }
       #title {
           margin-top: 4vh;
           white-space: nowrap;
           overflow: hidden;           
       }
       button#sendButton {
           float: right;
           margin-top: 5vh;
           width: 40%;
            white-space: nowrap;
       }
       #buttonsWrapper{
           margin-top: 5vh;
           button, span {
            float: right;
            margin-right: 10px;
           }
       }       
    }
    
    #emailGeneratorBody {
        border: 1px solid grey; 
        min-height:  90vh;
        padding: 0px;   
       background-color:  #f2f2f2;        
        #emailGeneratorToolbar {
            background-color: #000066!important;
            div#createTemplate:hover {
                position: absolute;
                bottom:0;
                left:0;
                background-color: #449d44!important;
                table {
                   background-color: #449d44!important;  
                }
            }
           border: 1px solid grey;
           min-height:  90vh;
           background-color: #e6e6e6;
           position: relative;
           padding: 0;
           padding-left: 1%;
           font-size: 0.9em;
            .icono{
              overflow: hidden;
              height:  100%;
              padding-left: 1px;
                table{
                    background-color: whitesmoke;   
                  height: 100%;
                }                               
            }     
            .templateSelector {
              color: white;
              border: 2px solid #925E5E;
              height: 100px;
              margin: 0px;
              width: 100%;
              cursor: pointer;
              .iconsContainer {
                  z-index: 100;
                  margin: 10px;
                  position: absolute;
                  right: 0px;
                  span {
                      color: white;
                      margin-right: 5px;
                  }
              }
              .textTemplSel {
                padding-top: 5%;
              }
            }
            .textTemplSel{
              @media screen and (max-width: 767px){
                padding-left: 40px;
                padding-top: 13px;
                padding-left: 18px;
              }
            }            
            .scroolTool {
                background-color: #000066;
                position: absolute;
                top: 0;
                left: 0;
                overflow-y: scroll;
                height: 87.5%;
                @media screen and (max-width: 767px){
                  height: 200px;
                  padding-left: 28px;
                  position: inherit;
                }          
            } 
            #createTemplate{
              position: absolute;
              background-color: #5cb85c;
              bottom:0;
              color: white!important;
              height: 12.5%!important;
              left:0;
              width: 100%;
              color: black;
              border: 2px solid #925E5E;
              height: 17%;
              margin-bottom: 0%;
              table {
                  background-color:  #5cb85c;
              }
              img#newTemplateImg {
                  height: 50%;
              }
            }

          @media screen and (max-width: 767px){
            display: none;
          }
        }
        #emailGeneratorToolbarButton {
             float: left;
             margin: 0px;
             padding: 0px;
             border: none;
             .scroolTool {
                 padding: 0px;
             }
                #templatesButton {
                  background-color: #5cb85c;
                  color: white;
                  border: 1px solid grey;
                  min-width: 100%;
                }
                .templateSelector {
                    background-color: #000066;
                    color: white;
                    border: 1px solid #925E5E;
                }
                #newTemplateBtn {
                    background-color: #5cb85c;
                }
           }
        #emailGeneratorMain {
            margin: 0px;
            padding: 0px;
            #variables {
                 padding: 0px;

                #variablesButton {
                  background-color: #5cb85c;
                  border: 1px solid grey;
                  color: white;
                  min-width: 100%;
                }    
            #variablesForm {
                min-width: 100%;
                label {
                    float: left;
                }
                input {
                  margin-bottom: 1%;
                }
              }                
              @media screen and (max-width: 767px){
                padding: 0px;
              }
            }
            #actualTemplate {
                height: 90vh;
                background-color: white;
                ul{
                    overflow-y: scroll;
                }
            }
        }
    }
}

