div#emailGenerator(ng-init='loadTemplates()')
      // Header
      div#emailGeneratorHeader.row
        div#lenguageSelector.col-xs-4
            form.form-horizontal
                label.control-label.col-xs-4(for='lenguage') Languages:
                div.col-xs-8.col-sm-6.col-lg-4
                    select#lenguage.form-control(name='lenguage'  ng-model='data.selectedLanguage' ng-options= 'language.name  for language in data.languages track by language.value' ng-change='changeLanguage(data.selectedLanguage)')
        div#title.col-xs-4
            h4#viewTitle.col-xs-7.col-xs-offset-2 {{ 'title_mail' | translate }}            
        div#buttonsWrapper.col-xs-4
            span.fa.fa-trash.fa-2x(role='button'  ng-click='deleteTemplate(selectedTemplate)')
            span.fa.fa-envelope.fa-2x(role='button'  data-toggle='modal' data-target='#sendMail' onfocus="$(this).blur();")
            a(ng-href='#/templateGenerator?id={{selectedTemplate}}')
                span.fa.fa-edit.fa-2x(role='button' style='color: white;')
      // Body      
      div#emailGeneratorBody.row           
        //Toolbar
        div#emailGeneratorToolbar.col-xs-3
            div.scroolTool(ng-hide="templateList.length < 1")
                div(href='#' ng-repeat='template in templateList')
                    div.templateSelector.row
                        div.col-xs-5.icono(ng-click='loadTemplate(template.id_template)')
                            table
                                tr
                                    td
                                        img.img-responsive(ng-src='{{template.icon}}')
                        div.iconsContainer
                            a(ng-href='#/templateGenerator?id={{template.id_template}}')
                                span.fa.fa-edit(role='button')                       
                            span.fa.fa-trash(role='button'  ng-click='deleteTemplate(template.id_template)')
                        div.col-xs-7.textTemplSel(ng-click='loadTemplate(template.id_template)')
                            |{{template.name_template}}
                            br
                            |{{ 'date' | translate }}: {{template.created_at}}
            a#refTemplateGenerator(href='#/templateGenerator')
                div#createTemplate.templateSelector.row
                    div.col-xs-5.icono
                        table
                            tr
                                tdresources
                                    img#newTemplateImg.img-responsive(src='resources/EmailTemplateManager/app/img/plantilla.png')
                    div.col-xs-7.textTemplSel
                        |{{ 'new_template' | translate }}
        //main section
        div#emailGeneratorMain.col-xs-12.col-sm-9.row
            #emailGeneratorToolbarButton.navbar-toggle.collapsed.col-xs-3
              div.dropdown
                button.btn.btn-primary.dropdown-toggle#templatesButton(type='button', data-toggle='dropdown') Templates
                    span.caret
                div.scroolTool.dropdown-menu
                  a(href='#'  ng-repeat='template in templateList')
                    div.col-xs-12.textTemplSel.templateSelector(ng-click='loadTemplate(template.id_template)')
                        |{{template.name_template}}
                        br
                        |Date:
                        br
                        |{{template.created_at}}
                  a(href='#/templateGenerator')
                    div#newTemplateBtn.col-xs-12.textTemplSel.templateSelector
                        |{{ 'new_template' | translate }}        
            //Dropdown menu for variables
            div#variables.dropdown.col-xs-9.col-sm-12(ng-keydown='closeDropdown($event)')
                button#variablesButton.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown') {{ 'variables' | translate }}
                    span.caret
                form#variablesForm.dropdown-menu.form-horizontal
                    div.form-group(ng-repeat='variable in templateVariables')
                        label.col-xs-1.control-label(for='{{variable[0]}}') {{variable[0]}}
                        div.col-xs-10
                            input.form-control(ng-model='variable[1]' id='{{variable[0]}}' ng-change='changeVariables()')
            // Div that contains the preview of the email
            #actualTemplate

// Modal window for sending an email
div#sendMail.modal.fade(ng-keydown='sendOnEnter($event)')
    div.modal-dialog.modal-lg
        div.modal-content
            div.modal-header
                button.close(type='button' data-dismiss='modal' aria-label='close')
                    span(aria-hidden='true') &times;
                h4.modal-title {{ 'email_settings' | translate }}
            div.modal-body
            form.form-horizontal(name='sendMailForm')
                div.form-group.has-feedback(ng-class=" { 'has-error' : sendMailForm.email.$invalid && sendMailForm.email.$dirty, 'has-success' : sendMailForm.email.$valid} ")
                    label.col-sm-2.control-label(for='email') {{ 'email' | translate }}:
                    div.col-sm-8
                        input#emailInput.form-control(type='text' ng-model='email' name='email'  placeholder='<name>mail@example.com,<name>other@example.com' ng-pattern='/^((<[a-z]+>)?[\.a-zA-ZáéíóúÁÉÍÓÚñÑ_0-9]+@[a-zA-ZáéíóúÁÉÍÓÚñÑ_-]+\\.[a-zA-ZáéíóúÁÉÍÓÚñÑ]{2,12})(,((<[a-z]+>)?[\.a-zA-ZáéíóúÁÉÍÓÚñÑ_0-9]+@[a-zA-ZáéíóúÁÉÍÓÚñÑ_-]+\\.[a-zA-ZáéíóúÁÉÍÓÚñÑ]{2,12}))*$/' required)
                        span.glyphicon.form-control-feedback(ng-class="{'glyphicon-ok' : sendMailForm.email.$valid, 'glyphicon-remove' : sendMailForm.email.$invalid && sendMailForm.email.$dirty}")
                div.form-group.has-feedback(ng-class=" { 'has-error' : sendMailForm.subject.$invalid && sendMailForm.subject.$dirty, 'has-success': sendMailForm.subject.$valid} ")
                    label.col-sm-2.control-label(for='subjectInput') {{ 'subject' | translate }}:
                    div.col-sm-8
                        input#subjectInput.form-control(type='text' ng-model='subject'  placeholder='subject' name='subject' ng-pattern='/^[a-zA-ZáéíóúÁÉÍÓÚñÑ0-9][a-zA-ZáéíóúÁÉÍÓÚñÑ0-9 ]{3,50}$/' required)                        
                        span.glyphicon.form-control-feedback(ng-class="{'glyphicon-ok' : sendMailForm.subject.$valid, 'glyphicon-remove' : sendMailForm.subject.$invalid && sendMailForm.subject.$dirty}")
            div.modal-footer
                span.spin.fa.fa-spinner.fa-spin(style='display:none')                
                button.btn.btn-warning(type='button' data-dismiss='modal') Close
                button.btn.btn-success(type='button' ng-click='sendEmail()' ng-disabled='disableSendingButton()') {{ 'send' | translate }}
