body{
  padding-right: 0px !important;
  #templateGenerator {
    #templateGeneratorHeader {
      border: 1px solid grey;
      min-height: 10vh;
      background-color: #000066;
      color: white;

      #lenguageSelector {
        margin-top: 5vh;
      }

      #title {
        margin-top: 4vh;
        white-space: nowrap;
        overflow: hidden;
      }
      #buttonsWrapper {
        margin-top: 5vh;
        button, span {
          float: right;
          margin-right: 10px;
        }
      }
    }

    #templateGeneratorBody {

      #templateGeneratorToolbar {
        border: 2px solid grey;
        min-height: 90vh;
        background-color: #000066;
        padding-left: 5px;

        ul#mobileList {
          padding: 0px;
          li {
            list-style: none;
            margin: 20% 25%;
            button {
              height: 45px;
              width: 45px;
              padding: 0px;
              background-size: cover;
            }
          }
        }

      }

      #templateGeneratorMain {
        border: 1px solid grey;
        min-height: 90vh;
        padding: 0px;
        background-color: white;

        .trashIcon {
          font-size: 20px;
          position: absolute;
          right: 0px;
          cursor: pointer;
          z-index: 10;
        }

        .arrowIcon {
          z-index: 10;
          position: absolute;
          cursor: pointer;
          left: 45%;
          top: 40%;
          opacity: 0;
        }

        .widgetContent {
          margin: 0px;
        }
        .imageOnWidget {
          margin: 0px;
          width: 100%;
          height: 100%;
          background-size: cover;
          //background-repeat:  no-repeat;
        }

        .widgetContainer {
          border: 1px dotted #009ecd;
        }

        .widgetContainer:hover {
          .arrowIcon {
            animation-name: makeArrowVisible;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            color: grey;
          }
        }

        .tinymceWidget {
          height: 99%;
          overflow: hidden;
          z-index: 0;
        }
      }
    }

    .gridster-item-resizable-handler, .handle-se {
      border-color: transparent transparent black;
    }

    @keyframes makeArrowVisible {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

