
div#templateGenerator
    //header
    div#templateGeneratorHeader.row
        div#lenguageSelector.col-xs-4    
            form.form-horizontal
                div.col-xs-1
                    a(ng-href='#/mailGenerator')
                        span.fa.fa-arrow-circle-left.fa-2x(role='button' ng-click='newTemplate()' style='color: white')                
                label.control-label.col-xs-3(for='lenguage') Lenguage:
                div.col-xs-8.col-sm-6.col-lg-4
                    select#lenguage.form-control(name='lenguage'  ng-model='data.selectedLanguage' ng-options= 'language.name  for language in data.languages track by language.value' ng-change='changeLanguage (data.selectedLanguage)')
        div#title.col-xs-4
            h4#viewTitle.col-xs-7.col-xs-offset-2 {{ 'title_template' | translate }}            
        div#buttonsWrapper.col-xs-4
            span.fa.fa-trash.fa-2x(role='button' ng-click='newTemplate()')
            span.fa.fa-save.fa-2x(role='button' data-toggle='modal' data-target='{{saveOrReplace}}' onfocus="$(this).blur();")

        // body    
      div#templateGeneratorBody.row    
        div#templateGeneratorToolbar.col-xs-2.col-sm-1
          ul#mobileList
              li
                  button.btn.btn-success(type='button' ng-click='createTextElement("h1")') H1
              li
                  button.btn.btn-success(type='button'  ng-click='createTextElement("h2")') H2
              li
                  button.btn.btn-success(type='button'  ng-click='createTextElement("h3")') H3
              li
                  button.btn.btn-success(type='button'  ng-click='createTextElement("p")') Text
              li
                  button.btn.btn-success(type='button' onclick="$('#askForImg').modal('show')") Img

        div#templateGeneratorMain.col-xs-10.col-sm-11(gridster = "gridsterOpts")
          input#img(type='file', style='display: none;')
          ul
              li.widgetContainer(gridster-item='element' ng-repeat='element in elementList'  data-gridsterId='{{element.gridsterId}}' data-innerBrNodes='{{element.innerBrNodes}}')
                  span.fa.fa-trash.trashIcon(ng-click='deleteItem($index)')
                  span.fa.fa-arrows.fa-lg.arrowIcon(ng-mousedown='gridsterOpts.draggable.enabled = true' ng-mouseup='gridsterOpts.draggable.enabled = false' ng-mouseleave='gridsterOpts.draggable.enabled = false')
                  div.tinymceContainer(ng-click='openTinymce($event)' ng-resizable) 
                      h1.widgetContent(ng-if='element.type === "h1" ') {{ 'big_title' | translate }}
                      h2.widgetContent(ng-if='element.type === "h2"') {{ 'middle_title' | translate }}
                      h3.widgetContent(ng-if='element.type === "h3"' ng-init="implementTinymce(tinyMceTextOpts)" ng-blur='destroyTinyMce()') {{ 'small_title' | translate }}
                      p.widgetContent(ng-if='element.type === "p"' ng-init="implementTinymce(tinyMceTextOpts)" ng-blur='destroyTinyMce()') {{ 'paragraph' | translate }}
                  img.widgetContent.imageOnWidget(ng-if='element.type === "img"'  style='background-image: url({{element.src}});') 
                  a.widgetContent(ng-if='element.type === "a"' ng-href="{{element.href}}") {{element.text}}

// Modal window for save a template
div#saveTemplate.modal.fade(ng-keydown='saveOnEnter($event)')
    div.modal-dialog.modal-lg
        div.modal-content
            div.modal-header
                button.close(type='button' data-dismiss='modal' aria-label='close')
                    span(aria-hidden='true') &times;
                h4.modal-title {{ 'save_template' | translate }}
            div.modal-body
            form.form-horizontal(name='saveTemplateForm')
                div.form-group.has-feedback(ng-class=" { 'has-error' : saveTemplateForm.name_template.$invalid && saveTemplateForm.name_template.$dirty, 'has-success' : saveTemplateForm.name_template.$valid} ")
                    label.col-sm-2.control-label(for='nameTemplate') {{ 'template_name' | translate }}:
                    div.col-sm-8
                        input#nameTemplate.form-control(type='text' ng-model='name_template' name='name_template'  placeholder='Name of the Template' ng-pattern='/^[a-zA-ZáéíóúÁÉÍÓÚñÑ0-9][a-zA-ZáéíóúÁÉÍÓÚñÑ0-9 ]{3,50}$/' autofocus=true required)
                        span.glyphicon.form-control-feedback(ng-class="{'glyphicon-ok' : saveTemplateForm.name_template.$valid, 'glyphicon-remove' : saveTemplateForm.name_template.$invalid && saveTemplateForm.name_template.$dirty}")
            div.modal-footer
                span.spin.fa.fa-spinner.fa-spin(style='display:none')
                button.btn.btn-warning(type='button' data-dismiss='modal') {{ 'close' | translate }}
                button.btn.btn-success(type='button' ng-click='saveTemplate()' ng-disabled='validateTemForm()') {{ 'save' | translate }}

// Modal window for replace a template
div#replaceTemplate.modal.fade(ng-keydown='replaceOnEnter($event)')
    div.modal-dialog.modal-lg
        div.modal-content
            div.modal-header
                button.close(type='button' data-dismiss='modal' aria-label='close')
                    span(aria-hidden='true') &times;
                h4.modal-title {{ 'replace_template' | translate }}
            div.modal-body
                h3.modal-title {{ 'replace_template_question' | translate }}
                button.btn.btn-warning(type='button' ng-click='updateTemplate()') {{ 'replace_template' | translate }}
                button.btn.btn-success(type='button' data-dismiss='modal' ng-click='openSave()') {{ 'save_template' | translate }}
            div.modal-footer
                span.spin.fa.fa-spinner.fa-spin(style='display:none')
                button.btn.btn-warning(type='button' data-dismiss='modal') {{ 'close' | translate }}


// Modal window for asking for a image
div#askForImg.modal.fade
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type='button' data-dismiss='modal' aria-label='close')
                    span(aria-hidden='true') &times;
                h4.modal-title {{ 'image_settings' | translate }}
            div.modal-body
                div(ng-file-reader on-readed="onReaded(event, file)" read-method="readMethod"  multiple)
            div.modal-footer
                button.btn.btn-warning(type='button' data-dismiss='modal') {{ 'close' | translate }}

// Modal window for a new variable
div#setVariables.modal.fade
    div.modal-dialog.modal-lg
        div.modal-content
            div.modal-header
                button.close(type='button' data-dismiss='modal' aria-label='close')
                    span(aria-hidden='true') &times;
                h4.modal-title Set Variable
            div.modal-body
            form.form-horizontal(name='setVariableForm')
                div.form-group
                    label.col-sm-2.control-label(for='variableName') Variable Name:
                    div.col-sm-8
                        input#variableName.form-control(type='text' ng-model='variableName' name='variableName'  placeholder='Name of the Variable')
            div.modal-footer
                button.btn.btn-warning(type='button' data-dismiss='modal') Close
                button.btn.btn-success(type='button' ng-click='setVariable()') Set
