#templateGenerator #templateGeneratorHeader {
  border: 1px solid grey;
  min-height: 10vh;
  background-color: #e6e6e6;
}
#templateGenerator #templateGeneratorHeader button {
  margin-top: 25px;
  white-space: normal;
  white-space: nowrap;
}
#templateGenerator #templateGeneratorHeader ul li {
  display: inline-block;
}
#templateGenerator #templateGeneratorHeader h3 {
  padding-left: 8%;
}
#templateGenerator #templateGeneratorToolbar {
  border: 2px solid grey;
  min-height: 90vh;
  background-color: #e6e6e6;
  padding-left: 5px;
}
#templateGenerator #templateGeneratorToolbar ul#desktopList {
  padding-left: 20px;
}
@media screen and (max-width: 767px) {
  #templateGenerator #templateGeneratorToolbar ul#desktopList {
    display: none;
  }
}
#templateGenerator #templateGeneratorToolbar ul#desktopList li {
  list-style: none;
  margin: 20% 0;
}
#templateGenerator #templateGeneratorToolbar ul#desktopList li button {
  width: 100%;
}
#templateGenerator #templateGeneratorToolbar ul#mobileList {
  padding: 0px;
}
@media screen and (min-width: 767px) {
  #templateGenerator #templateGeneratorToolbar ul#mobileList {
    display: none;
  }
}
#templateGenerator #templateGeneratorToolbar ul#mobileList li {
  list-style: none;
  margin: 20% 0;
}
#templateGenerator #templateGeneratorToolbar ul#mobileList li button {
  height: 45px;
  width: 45px;
  padding: 0px;
  background-size: cover;
}
#templateGenerator #templateGeneratorBody {
  border: 1px solid grey;
  min-height: 90vh;
  padding: 0px;
  background-color: #f2f2f2;
}

#mailGenerator {
  background-color: greenyellow;
}
