doctype html
html(lang="en", ng-app="mailTemplate")
    head
        meta(charset= 'utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title Mail template generator
        link(rel='stylesheet', href='app/css/main.css')
        link(rel='stylesheet', href='app/css/styles/Bootstrap/css/bootstrap.css')
    body
        #app
            section
                .wrapper(ui-view="").container-fluid
        script(src='app/js/base.js')
        script(src='app/js/app.js')
        